@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Yantramanav:wght@100;300;400;500;700;900&display=swap");
.main_logos, .present {
  width: 100%;
  height: 100vh;
}

.present {
  background-image: url(../../img/backgroundMain1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", "Sans-serif";
}

::-webkit-scrollbar {
  display: none;
}

.present {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.present h1 {
  color: #fff;
  font-size: 5em;
  text-align: center;
}

.main_logos {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #060809;
  gap: 10vh;
}
.main_logos .top_container h1 {
  font-size: 5em;
  font-weight: 100;
}
.main_logos .bottom_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2vh;
}
.main_logos .bottom_container .boton img {
  width: 2vw;
}

.nosotros h1 {
  font-size: 15em;
}
.nosotros p {
  font-size: 2em;
}

.galeria h5 {
  font-size: 10vh;
}

.chat {
  height: 100vh;
}

.main_descarga img {
  width: 20vw;
}

.main_opiniones img {
  width: 10vw;
}

@media (max-width: 1024px) {
  .main_logos .top_container h1 {
    font-size: 4em;
  }
  .bottom_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vh;
  }
  .bottom_container .boton img {
    width: 3vw;
  }
  .nosotros h1 {
    font-size: 12em;
  }
}
@media (max-width: 800px) {
  .main_logos {
    gap: 5vh;
  }
  .main_logos .top_container h1 {
    font-size: 3em;
  }
  .bottom_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vh;
  }
  .bottom_container .boton img {
    width: 5vw;
  }
  .nosotros h1 {
    font-size: 8em;
  }
  .galeria h5 {
    font-size: 6vh;
  }
  .main_descarga img {
    width: 25vw;
  }
  .main_opiniones img {
    width: 15vw;
  }
}
@media (max-width: 480px) {
  .main_logos {
    gap: 5vh;
  }
  .main_logos .top_container h1 {
    font-size: 2em;
  }
  .main_logos .bottom_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2vh;
  }
  .main_logos .bottom_container .boton img {
    width: 8vw;
  }
  .nosotros h1 {
    font-size: 4em;
  }
  .nosotros p {
    font-size: 1.5em;
  }
  .galeria h5 {
    font-size: 4vh;
  }
  .main_descarga img {
    width: 50vw;
  }
  .main_opiniones img {
    width: 25vw;
  }
  .chat div {
    padding: 0 2vw;
  }
}
@media (max-width: 320px) {
  .main_logos {
    gap: 3vh;
  }
  .main_logos .top_container h1 {
    font-size: 1.5em;
  }
  .bottom_container .boton img {
    width: 10vw;
  }
  .nosotros h1 {
    font-size: 3em;
  }
  .galeria h5 {
    font-size: 3vh;
  }
  .main_descarga img {
    width: 70vw;
  }
  .main_opiniones img {
    width: 35vw;
  }
  .chat div {
    padding: 0 1vw;
  }
}
header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  height: 10vh;
  background-color: #060809;
  z-index: 20;
}
header nav {
  width: 100vw;
  height: 100%;
}
header nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 100%;
}
header nav ul li {
  list-style: none;
  padding: 1.5vh;
}
header nav ul li a {
  text-decoration: none;
  color: #fff;
  margin: 2vh;
  font-size: 2vh;
  font-weight: 100;
}
header nav ul li img {
  width: 18vh;
}

.present {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.present h1 {
  color: #fff;
  font-size: 8vh;
  text-align: center;
  animation: slide-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.present h1:nth-child(2) {
  font-weight: 100;
}

.main_logos {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #060809;
  gap: 10vh;
}
.main_logos .top_container {
  color: #fff;
  text-align: center;
}
.main_logos .top_container h1 {
  font-size: 5em;
  font-weight: 100;
}
@media (max-width: 800px) {
  .main_logos .top_container h1 {
    font-size: 2em;
  }
}
@media (max-width: 480px) {
  .main_logos .top_container h1 {
    font-size: 1.5em;
  }
}
.main_logos .top_container .asentua:hover {
  color: #FF3B58;
  transition: 1s;
}
.main_logos .bottom_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2vh;
  color: #fff;
  width: 80%;
}
.main_logos .bottom_container .boton {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  border: solid #fff 1px;
  border-radius: 10px;
  padding: 1vh;
  gap: 3vh;
}
.main_logos .bottom_container .boton img {
  align-items: flex-start;
  width: 2vw;
  margin: 2vh;
}
@media (max-width: 800px) {
  .main_logos .bottom_container .boton img {
    width: 4vw;
  }
}
.main_logos .bottom_container .boton div {
  width: 50%;
}
.main_logos .bottom_container .boton div h1 {
  font-size: 3vh;
}
.main_logos .bottom_container .boton div h5 {
  font-size: 2vh;
  font-weight: 100;
  white-space: nowrap;
}
@media (max-width: 480px) {
  .main_logos .bottom_container .boton div h5 {
    font-size: 1.5vh;
  }
}
.main_logos .bottom_container .boton:hover {
  background-color: #252525;
  border: none;
  cursor: pointer;
  transition: 1s;
}
@media (max-width: 800px) {
  .main_logos .bottom_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .main_logos .bottom_container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 420px) {
  .main_logos {
    width: 100vh;
    gap: 5vh;
  }
}

.nosotros {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 220vh;
  background-color: #060809;
  gap: 5vh;
}
.nosotros div h1 {
  font-size: 15em;
  text-align: center;
  font-weight: 200;
  color: #fff;
}
.nosotros div p {
  font-size: 2em;
  font-weight: 100;
  text-align: justify;
  padding: 0 10%;
  color: #fff;
}

.galeria {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 250vh;
  gap: 5vh;
  background-color: #060809;
}
.galeria .contenedor_superior {
  text-align: center;
  align-items: center;
}
.galeria .contenedor_superior h5 {
  font-size: 10vh;
  font-weight: 100;
  color: #fff;
}
.galeria .contenedor_superior::first-line {
  font-weight: 800;
  color: #FF3B58;
}
.galeria .tarjetas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5vh;
}
.galeria .tarjetas div {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  border: #FF3B58 0.5px solid;
}
.galeria .tarjetas div div {
  background: #060809;
}
.galeria .tarjetas div div h5 {
  color: #fff;
}
.galeria .tarjetas div div p {
  color: #fff;
}
.galeria .tarjetas div div a {
  color: #060809;
  background: #FF3B58;
  border: none;
  font-weight: 600;
  width: 15vh;
  margin: 2vh;
}
.galeria .tarjetas div div a:hover {
  color: #fff;
  background-color: #252525;
  transition: 1s;
}

.chat {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #060809;
  color: #fff;
}
.chat div {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
.chat h5 {
  font-weight: 200;
}
.chat a {
  color: #fff;
  text-decoration: none;
  padding: 1.5vh 5vh;
  background-color: #fff;
  color: #060809;
  border-radius: 50px;
}

.main_descarga {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #060809;
  height: 100vh;
  gap: 2em;
}
.main_descarga div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.main_descarga p {
  color: #fff;
}
.main_descarga h1 {
  color: #FF3B58;
}
.main_descarga h2 {
  color: #fff;
  width: 25rem;
  text-align: center;
  font-weight: 200;
}
.main_descarga .sectorT {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.main_descarga img {
  width: 20vw;
  border-radius: 20px;
}
.main_descarga button {
  color: #fff;
  background-color: #060809;
  border: 1px solid #222222;
  border-radius: 20px;
  padding: 1rem;
}
.main_descarga button:hover {
  background-color: #FF3B58;
  color: #222222;
  transition: 2s;
}

.main_opiniones {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1fr;
  align-items: center;
  justify-content: center;
  background-color: #060809;
  color: #fff;
  height: 100vh;
  padding: 0 10rem;
}
.main_opiniones h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF3B58;
  padding-top: 2rem;
}
.main_opiniones .container1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
}
.main_opiniones .container1 p {
  text-align: center;
}
.main_opiniones .container1 img {
  width: 10vw;
  border-radius: 100px;
}
.main_opiniones .container2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.main_opiniones .container2 .box {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 15vh;
  color: #fff;
}

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding: 0 10%;
  background-color: #060809;
}
footer .contenedor_nav a {
  text-decoration: none;
  font-size: 2vh;
  color: #fff;
  margin: 0 2vh;
}
footer .contenedor_nav a:hover {
  border-bottom: #fff 1px solid;
}
@media (max-width: 420px) {
  footer {
    width: 100vh;
  }
}

/*# sourceMappingURL=styles.css.map */
