%altura_total{
    width: 100%;
    height: 100vh;
}

%background{
    background-image: url(../../img/backgroundMain1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}