@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

$color-oscuro: #060809;
$color-claro: #fff;
$color-asentuado: #FF3B58;

$font-Q: 2vh;
$font-B: 8vh;

$font-W1: 100;
$font-W2: 300;
$font-W3: 600;

$font-Typ: "Quicksand", sans-serif;