header{
    @include flexible( flex , row , nowrap , center , center);
    position: sticky;
    top: 0;
    height: 10vh;
    background-color: $color-oscuro;
    z-index: 20;

    nav{
        width: 100vw;
        height: 100%;
        
        ul{
            @include flexible( flex , row , nowrap , center , center);
            padding: 0;
            height: 100%;

            li{
                list-style: none;
                padding: 1.5vh;
    
                a{
                    text-decoration: none;
                    color: $color-claro;
                    margin: 2vh;
                    font-size: $font-Q;
                    font-weight: $font-W1;
                }
        
                img{
                    width: 18vh;
                }
        
            }
        }
    }
}