.present{

    @include flexible( flex , row , wrap, center, center);
    @extend %altura_total;
    @extend %background;

    h1{
        color: $color-claro;
        font-size: $font-B;
        text-align: center;
        &:nth-child(2){font-weight: $font-W1;} 
	    animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

}

.main_logos {

    @include flexible(flex, column, wrap, center, center);
    @extend %altura_total;
    background-color: $color-oscuro;
    gap: 10vh;

    .top_container {
        color: $color-claro;
        text-align: center;

        h1 {
            font-size: 5em;
            font-weight: $font-W1;

            @media (max-width: 800px) {
                font-size: 2em;
            }

            @media (max-width: 480px) {
                font-size: 1.5em;  // Ajuste para pantallas más pequeñas
            }
        }

        .asentua:hover {
            color: $color-asentuado;
            transition: 1s;
        }
    }

    .bottom_container {
        @include grid(4, 2vh);
        color: #fff;
        width: 80%;

        .boton {
            @include flexible(flex, row, wrap, flex-start, center);
            border: solid $color-claro 1px;
            border-radius: 10px;
            padding: 1vh;
            gap: 3vh;

            img {
                align-items: flex-start;
                width: 2vw;
                margin: 2vh;

                @media (max-width: 800px) {
                    width: 4vw;  // Ajuste de imagen para pantallas pequeñas
                }
            }

            div {
                width: 50%;

                h1 {
                    font-size: 3vh;
                }

                h5 {
                    font-size: 2vh;
                    font-weight: $font-W1;
                    white-space: nowrap;

                    @media (max-width: 480px) {
                        font-size: 1.5vh;  // Ajuste para textos más pequeños
                    }
                }
            }

            &:hover {
                background-color: #252525;
                border: none;
                cursor: pointer;
                transition: 1s;
            }
        }

        @media (max-width: 800px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 480px) {
            grid-template-columns: repeat(1, 1fr);  // Ajuste de una columna para pantallas más pequeñas
        }
    }

    @media (max-width: 420px) {
        width: 100vh;
        gap: 5vh;  // Ajuste de espacio para pantallas muy pequeñas
    }
}


.nosotros{
    @include flexible(flex, column, wrap, center, center);
    height: 220vh;
    background-color: $color-oscuro;
    gap: 5vh;

    div{
        h1{
            font-size: 15em;
            text-align: center;
            font-weight: 200;
            color: $color-claro;
        }

        p{
            font-size: 2em;
            font-weight: 100;
            text-align: justify;
            padding: 0 10%;
            color: $color-claro;
        }
    }
}

.galeria{
    @include flexible (flex, column, wrap, center, center);
    height: 250vh;
    gap: 5vh;
    background-color: $color-oscuro;

    .contenedor_superior{
        text-align: center;
        align-items: center;

        h5{
            font-size: 10vh;
            font-weight: 100;
            color: $color-claro;
        }

        &::first-line{
            font-weight: 800;
            color: $color-asentuado;
        }
    }

    .tarjetas{
        @include grid( 3, 5vh);

        div{
            @include flexible(flex, column, wrap, flex-start, flex-start);
            border: $color-asentuado 0.5px solid;

            div{
                background: $color-oscuro;

                h5{
                    color: $color-claro;
                }

                p{
                    color: $color-claro;
                }

                a{
                    color: $color-oscuro;
                    background: $color-asentuado;
                    border: none;
                    font-weight: 600;
                    width: 15vh;
                    margin: 2vh;

                    &:hover{
                        color: $color-claro;
                        background-color: #252525;
                        
                        transition: 1s;
                    }
                }

            }


        }
    }
}

.chat{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: $color-oscuro;
    color: $color-claro;

    div{
        @include flexible (flex, column, wrap, center, center);
        gap: 2vh;
    }

    h5{
        font-weight: 200;
    }

    a{
        color: $color-claro;
        text-decoration: none;
        padding: 1.5vh 5vh;
        background-color: $color-claro;
        color: $color-oscuro;
        border-radius: 50px;
    }
}

.main_descarga{
    @include flexible (flex, column, wrap, center, center);
    background-color: $color-oscuro;
    height: 100vh;
    gap: 2em;

    div{
        @include flexible (flex, row, wrap, center, center);
        gap: 2rem;
    }

    p{
        color: #fff;
    }

    h1{
        color: $color-asentuado;
    }

    h2{
        color: $color-claro;
        width: 25rem;
        text-align: center;
        font-weight: 200;
    }

    .sectorT{
        @include flexible (flex, column, nowrap, center, center);

    }

    img{
        width: 20vw;
        border-radius: 20px;
    }

    button{
        color: $color-claro;
        background-color: $color-oscuro;
        border: 1px solid #222222;
        border-radius: 20px;
        padding: 1rem;

        &:hover{
            background-color: $color-asentuado;
            color: #222222;
            transition: 2s;
        }
    }
}

.main_opiniones{
    @include grid (1, 1fr);
    align-items: center;
    justify-content: center;
    background-color: $color-oscuro;
    color: $color-claro;
    height: 100vh;
    padding: 0 10rem;


    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-asentuado;
        padding-top: 2rem;
    }

    .container1{
        @include flexible (flex, row, wrap, center, center);
        border-radius: 20px;
        padding: 20px;

        p{
            text-align: center;
        }

        img{
            width: 10vw;
            border-radius: 100px;
        }
    }

    .container2{
        @include flexible (flex, row, wrap, center, center);

        .box{
            @include flexible (flex, column, wrap, center, center);
            width: 15vw;
            height: 15vh;
            color: $color-claro;
        }

    }
}