.main_present{

    @include flexible( flex , row , nowrap, center, center);
    @extend %altura_total;
    @extend %background;

    h1{
        color: $color-claro;
        font-size: $font-B;
        text-align: center;
        &:nth-child(2){font-weight: $font-W1;}
    }

    @media (max-width: 420px) {
        width: 100vh;
    }

}

.main_logos{

    @include flexible( flex , column , nowrap , center , center);
    @extend %altura_total;
    background-color: $color-oscuro;
    gap: 10vh;

    .top_container{
        color: $color-claro;
        text-align: center;
        
        h1{
            font-size: 5em;
            font-weight: $font-W1;

            @media (max-width: 800px) {
                font-size: 2em;
            }
        }

        .asentua:hover{
            color: $color-asentuado;
            transition: 1s;
        }

    }

    .bottom_container{
        @include grid( 4 , 2vh);
        color: #fff;
        width: 80%;

        .boton{
            @include flexible( flex , row , nowrap , flex-start , center);
            border: solid $color-claro 1px;
            border-radius: 10px;
            padding: 1vh;
            gap: 3vh;

            img{
                align-items: flex-start;
                width: 5vh;
                margin: 2vh;
            }

            div{
                width: 50%;

                h1{
                    font-size: 3vh;
                }
    
                h5{
                    font-size: 2vh;
                    font-weight: $font-W1;
                    white-space: nowrap;
                }
    
            }

            &:hover{
                background-color: #252525;
                border: none;
                cursor: pointer;
                transition: 1s;
            }
        }

        @media (max-width: 800px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 420px) {
        width: 100vh;
    }
}

.nosotros{
    @include flexible(flex, column, nowrap, center, center);
    height: 150vh;
    background-color: $color-oscuro;
    gap: 5vh;

    div{
        h1{
            font-size: 15em;
            text-align: center;
            font-weight: 200;
            color: $color-claro;
        }

        p{
            font-size: 2em;
            font-weight: 100;
            text-align: justify;
            padding: 0 10%;
            color: $color-claro;
        }
    }
}

.galeria{
    @include flexible (flex, column, nowrap, center, center);
    height: 190vh;
    gap: 5vh;
    background-color: $color-oscuro;

    .contenedor_superior{
        text-align: center;
        align-items: center;

        h5{
            font-size: 10vh;
            font-weight: 100;
            color: $color-claro;
        }

        &::first-line{
            font-weight: 800;
            color: $color-asentuado;
        }
    }

    .tarjetas{
        @include grid( 3, 5vh);

        div{
            @include flexible(flex, column, nowrap, flex-start, flex-start);
            border: $color-asentuado 0.5px solid;

            div{
                background: $color-oscuro;

                h5{
                    color: $color-claro;
                }

                p{
                    color: $color-claro;
                }

                a{
                    color: $color-oscuro;
                    background: $color-asentuado;
                    border: none;
                    font-weight: 600;
                    width: 15vh;

                    &:hover{
                        color: $color-claro;
                        background-color: $color-oscuro;
                        border: $color-claro 0.5px solid;
                        transition: 1s;
                    }
                }

            }


        }
    }




}